p {
	font-size: 20px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin-left: 30px;
}
h1 {
	text-align: center;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
h2 {
	margin-top: 30px;
	text-align: center;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
ul {
	font-size: 20px;
	margin-top: 70px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;	
}
a:link {
	margin-left: 10px;
	text-decoration: none;
	padding: 14px 25px;
	margin-bottom: 60px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 15px;
	color: #000000;
}
.text.margin {
	margin-left: auto;
    margin-right: auto;
    width: 20em;
}	
.small.picture {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.block {
	background-color: #ccffe6;
	padding-bottom: 20px;
	padding-top: 100px;
}
.middle-block {
	background-color: #ffffff;
	padding-top: 30px;
	padding-bottom: 150px;
}
.bottom.block {
	padding-top: 15px;
	background-color: #ccffe6;
}
.bottom.img {
	background-image: url("bild1.jpg");
	background-repeat: no-repeat;
	height: 130px;
	margin-bottom: 50px
}
.links {
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #ffffff;
}
.kontakt{
	background-color: #ffffff;
	padding-top: 20px;
	padding-bottom: 270px;
}
.fixed {
	position: fixed;
	left: 50px;
    right: auto;	
}
@media only screen and (min-width: 660px) {
	.text.margin {
		margin-left: auto;
    	margin-right: auto;
    	width: 60em;
    }

    .fixed {
    	left: 222px;
    }

    a:link {
    	font-size: 18px
    }
}